//project specific vars/mixins
@import "variables";
@import "mixins";

@import "~nprogress/nprogress.css";

::placeholder {
  color: gray;
}

button {
  border-radius: 2px;
}

body {
  background-color: Sienna;
}
